.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 24px;
  padding-left: 0;
}

.galleryItem {
  border: 3px solid #1e1f21;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(62, 224, 51, 0.4);
  position: relative;
  cursor: zoom-in;
}

.galleryItem:hover {
  transform: scale(1.02);
}

@media screen and (min-width: 768px) {
  .galleryItem {
    width: 360px;
    height: 360px;
  }
}
