.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  padding: 20px;
  outline: none;
}

.modalWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: zoom-out;
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: fill;
  border-radius: 8px;
  cursor: zoom-out;
}
